@model ADminLteTest.Entites.OrgnaizationsApplication

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrgnaizationsApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApplicantName" class="control-label"></label>
                <input asp-for="ApplicantName" class="form-control" />
                <span asp-validation-for="ApplicantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgDetailsNo" class="control-label"></label>
                <input asp-for="OrgDetailsNo" class="form-control" />
                <span asp-validation-for="OrgDetailsNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkNutureNo" class="control-label"></label>
                <input asp-for="WorkNutureNo" class="form-control" />
                <span asp-validation-for="WorkNutureNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffNo" class="control-label"></label>
                <input asp-for="StaffNo" class="form-control" />
                <span asp-validation-for="StaffNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproched" /> @Html.DisplayNameFor(model => model.IsApproched)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApprochNature" class="control-label"></label>
                <input asp-for="ApprochNature" class="form-control" />
                <span asp-validation-for="ApprochNature" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ResourcesRoom" /> @Html.DisplayNameFor(model => model.ResourcesRoom)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualificationPeriod" class="control-label"></label>
                <input asp-for="QualificationPeriod" class="form-control" />
                <span asp-validation-for="QualificationPeriod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsProgreessed" /> @Html.DisplayNameFor(model => model.IsProgreessed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProgressTypeNo" class="control-label"></label>
                <input asp-for="ProgressTypeNo" class="form-control" />
                <span asp-validation-for="ProgressTypeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationTypeNo" class="control-label"></label>
                <input asp-for="CommunicationTypeNo" class="form-control" />
                <span asp-validation-for="CommunicationTypeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeasAndRecommondaions" class="control-label"></label>
                <input asp-for="IdeasAndRecommondaions" class="form-control" />
                <span asp-validation-for="IdeasAndRecommondaions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
